h1 {
  color: blue;
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;
}

#top {
  border: 2px red solid;
  text-align: center;
  font-size: 150%;
  padding: 1px;
  background-color: white;
}
.row {
  size: 100%;
}

/* Style the form element with a border around it */
form {
  border: 4px solid whitesmoke;
}

/* Add some padding and a grey background color to containers */
.container {
  padding: 20px;
}

/* Style the input elements and the submit button */
input[type="text"],
input[type="submit"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add margins to the checkbox */
input[type="checkbox"] {
  margin-top: 16px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

.column {
  float: left;
  width: 33.33%;
  height: 2000px;
}

.column h1 {
  color: black;
  size: 20px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

#colUno {
  background-color: white;
}

#colDue {
  background-color: white;
}

#colTre {
  background-color: white;
}
